{% extends 'base/base.html' %}
{% block page_content %}
    {% include 'base/partials/nav.html' %}
    <section id="create-page" class="auth">
        <div class="container">
            <h1>Are you sure you want to delete your profile?</h1>
            <form method="post" action="{% url 'delete profile' pk=object.pk %}" enctype="multipart/form-data">
                {{ form }}
                {% csrf_token %}
                <input class="btn submit" type="submit" value="Yes">
            </form>
        </div>
    </section>
{% endblock %}

