{% extends 'base/base.html' %}
{% block page_content %}
    {% include 'base/partials/nav.html' %}
    <section id="delete-page" class="auth">
        <form method="post" action="{% url 'delete car' pk=car.pk %}" enctype="multipart/form-data">
            <div class="container">
                <h1>Delete Car</h1>
                {{ form }}
                {% csrf_token %}
                <input class="btn submit" type="submit" value="Delete Car">
            </div>
        </form>
    </section>
{% endblock %}
