{% extends 'base/base.html' %}
{% block page_content %}
    {% include 'base/partials/nav_with_profile.html' %}
    <section id="car-details">
        <h1>Car Details</h1>
        <div class="info-section">
            <div class="car-header">
                <img class="car-img"
                     src="/media/{{ car.car_image }}"
                     alt='car image'/>
                <h1>{{ car.model }}</h1>
                <p><span class="description">Model: {{ car.brand }}</span></p>
                <p><span class="description">Year: {{ car.year }}</span></p>
                <p><span class="description">Price: {{ car_price }}</span></p>
            </div>
            <div class="buttons">
                <a href="{% url 'edit car' pk=car.pk %}" class="edit-button">Edit</a>
                <a href="{% url 'delete car' pk=car.pk %}" class="delete-button">Delete</a>
            </div>
        </div>
    </section>
{% endblock %}