{% extends 'base/base.html' %}
{% block page_content %}
    <body>
    <div id="box">
        {% include 'base/partials/nav_with_profile.html' %}
        <!-- Display paragraph: If there are no cars yet-->
        {% if cars %}

        <section id="catalogue">
            <h1>Total cars: 3</h1>

            <!-- first car-->
            <div class="car-card">
                <div class="image-wrap">
                    <!-- car image -->
                    <img src="https://www.complete-leasing.co.uk/img/gallery/porsche-718-cayman-in-black.jpg"
                         alt="Sport Car">
                </div>
                <!-- car type -->
                <h3>Sport Car</h3>
                <!-- car model -->
                <h1>Ferrari 488 GTB</h1>
                <div class="details-buttons">
                    <!-- car details button -->
                    <a href="{% url 'details car' pk=1 %}" class="details-btn">Details</a>
                </div>
            </div>
            {% else %}
            <p class="no-articles">No cars yet</p>
            {% endif %}
        </section>
    </div>
{% endblock %}