{% extends 'base/base.html' %}
{% block page_content %}
    <body>
    <div id="box">
        {% include 'base/partials/nav_with_profile.html' %}
        {% if cars %}
            <section id="catalogue">
            <h1>Total cars: {{ total_cars }}</h1>
            {% for car in cars %}
                <div class="car-card">
                    <div class="image-wrap">
                        <img src="/media/{{ car.car_image }}"
                             alt="{{ car.type }}">
                    </div>
                    <h3>{{ car.type }}</h3>
                    <h1>{{ car.model }}</h1>
                    <div class="details-buttons">
                        <a href="{% url 'details car' pk=car.pk %}" class="details-btn">Details</a>
                    </div>
                </div>
            {% endfor %}
        {% else %}
            <p class="no-articles">No cars yet</p>
        {% endif %}
        </section>
    </div>
{% endblock %}